.filter__container{
    text-align: center;
    padding-bottom: 30px;
}
.filter__input{
    width:150px;
    height: 15px;
    padding: 10px;
    border-radius: 50px;
    border: 3px solid grey;
}
.hidden{
    display:none;
}
.label-checkbox{
    color:white;
}