.title{
    text-align: center;
    color: #F6F9FF;
    padding:30px;
    margin:0; 
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.general__container{
    background-image: url("./milkyway.jpeg");
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.main__container{
    flex-grow: 1;
}
.footer__container{
    background-color: #2E3543;
    color: white;
    text-align: center;
    padding:10px;
    position: relative;
}

.year__footer{
    font-size: 10px;
    margin: 2px;
}
.author{
    color: #D9A21B;
    margin: 0px;
}
.title__footer{
    margin: 2px;
}
