.title{
    text-align: center;
    color: #F6F9FF;
    padding:30px;
    margin:0; 
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
}
.general__container{
    background-image: url("./milkyway.jpeg");
    background-size: cover;
}